{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TechGear{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tienda/css/style.css' %}">
</head>
<body>
    <header class="navbar">
        <h2>🌸 TechGear</h2>
        <nav>
            <a href="{% url 'catalogo' %}">Catálogo</a>
            <a href="{% url 'panel_admin' %}">Panel Admin</a>
            <a href="http://127.0.0.1:8000/docs" target="_blank">Api Swagger</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; TechGear — Proyecto de taller Backend/Frontend</p>
    </footer>
</body>
</html>