{% extends 'tienda/base.html' %}

{% block title %}Catálogo de Productos - TechGear{% endblock %}

{% block content %}
    <h1>Catálogo de Productos</h1>

    {% if productos %}
        <div class="grid">
            {% for prod in productos %}
                <div class="card">
                    <h3>{{ prod.nombre }}</h3>
                    <p>{{ prod.descripcion }}</p>
                    <p class="precio">${{ prod.precio|floatformat:0 }}</p>

                    {% if prod.stock > 0 %}
                        <p class="stock">Stock disponible: {{ prod.stock }}</p>
                    {% else %}
                        <p class="stock agotado">Agotado</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p style="text-align: center; color: red;">
            No se pudieron cargar los productos. Asegúrate de que FastAPI esté corriendo en la otra terminal.
        </p>
    {% endif %}
{% endblock %}